<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>891670701847-nm5q9qjv6150p7mss0vecoctncu60fmb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.891670701847-nm5q9qjv6150p7mss0vecoctncu60fmb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>891670701847-kr2hps2pgdtsjv8jmsncv5h28ccshagj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAypjKpTfHLgADHyAvf7nGYSSPZCsvJbUQ</string>
	<key>GCM_SENDER_ID</key>
	<string>891670701847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scannit</string>
	<key>PROJECT_ID</key>
	<string>scannit-e876e</string>
	<key>STORAGE_BUCKET</key>
	<string>scannit-e876e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891670701847:ios:25ae5a56eeaf0388387952</string>
	<key>DATABASE_URL</key>
	<string>https://scannit-e876e.firebaseio.com</string>
</dict>
</plist>